#dashboard .newsHeader {
  color: #fff;
  text-decoration: none;
  width: 60%;
  transform: translateY(-25px);
}
#dashboard .news-header {
  padding-top: 40px;
  font-weight: 300;
}
#dashboard .newsOne {
  display: grid;
  place-items: center;
  background-color: rgb(180, 180, 180);
  background-blend-mode: multiply;
  height: 200px;
  outline: none;
  border-radius: 15px;
}

#dashboard .newsOne:hover {
  -webkit-text-decoration: underline white;
  text-decoration: underline white;
  cursor: pointer;
}

#dashboard .links {
  text-decoration: none;
}

#dashboard .dashboard-firstRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}
#dashboard .stock-container {
  width: 350px;
  border: solid;
  border-radius: 15px;
  overflow: hidden;
  background-color: black;
  margin-top: 30px;
  margin-right: 10px;
}

#dashboard .exchange-container {
  flex: 0 1 auto;
  margin: auto;
  margin-top: 50px;
  border: solid;
  border-radius: 15px;
  background-color: black;
  max-width: 700px;
}

#dashboard .ex {
  display: flex;
  flex-wrap: wrap;
}

#dashboard .crypto-container {
  width: 350px;
  border: solid;
  border-radius: 15px;
  overflow: hidden;
  background-color: black;
  margin-top: 30px;
}

#dashboard .news-container {
  width: 50%;
  margin: auto;
}
#dashboard {
  background-color: #27293d;
}

#dashboard #dashboard-header {
  text-align: left;
  color: #fff;
}
#dashboard .dashboard-wrapper {
  padding-bottom: 100px;
  margin-left: auto;
  width: 65%;
}

#dashboard .news-header {
  color: #fff;
  text-align: left;
}
#dashboard .dashboard-thirdRow {
  width: 60%;
  margin: auto;
}

#dashboard img {
  width: 20%;
}
#dashboard .crypto-container img {
  width: 40%;
}

#dashboard #usaImg {
  width: 15%;
}
#dashboard #usaImg2 {
  width: 13%;
  padding-right: 5px;
}
#dashboard #chinaImg {
  width: 13%;
  padding-right: 5px;
}
